@model IEnumerable<LH.GestaoDePessoas.Application.ViewModels.ClienteViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Clientes</h2>

@*@Html.ActionLink("Create New", "Create")*@

<div class="btn-group btn-group-justified" style="margin-left: 85%; width: 15%; margin-bottom: 1%">
    <a href="@Url.Action("create")" class="btn btn-primary">Novo Cliente</a>

</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CPF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </th>
        <th >
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
        <th></th>
    </tr>

    @foreach(var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new {id = item.ClienteId}, new {@class = "btn btn-warning"})
                @Html.ActionLink("Detalhes", "Details", new {id = item.ClienteId}, new {@class = "btn btn-info"})
                @Html.ActionLink("Desativar", "Delete", new {id = item.ClienteId}, new {@class = "btn btn-danger"})
            </td>
        </tr>
    }

</table>